/********** Template CSS **********/
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;500&display=swap');
:root {
    --primary: rgba(41,105,255,1);
    --secondary: #67b8ff83 #2B9BFF;
    --light: #EFFDF5;
    --dark: #2B3940;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}


/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}


.col-ff {
    width: 15%;
    text-align: right;
}
.col-ff img {
    width: 37px;
}
.row.g-5 {
    flex-wrap: wrap;
}
.coli {
    display: flex;
    margin: 0;
}

/*** Button ***/
.btn {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    transition: .5s;
}

.btn.btn-primary,
.btn.btn-secondary {
    color: #FFFFFF;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    border-radius: 2px;
}


/*** Navbar ***/
.navbar .dropdown-toggle::after {
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    vertical-align: middle;
    margin-left: 5px;
    transition: .5s;
}

.navbar .dropdown-toggle[aria-expanded=true]::after {
    transform: rotate(-180deg);
}

.navbar-dark .navbar-nav .nav-link,
.navbar-light .navbar-nav .nav-link {
    margin-right: 30px;
    padding: 25px 0;
    color: #FFFFFF;
    font-size: 15px;
    text-transform: uppercase;
    outline: none;
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
    color: var(--primary);
}

@media (max-width: 991.98px) {
    .navbar-dark .navbar-nav .nav-link,
    .navbar-light .navbar-nav .nav-link  {
        margin-right: 0;
        padding: 10px 0;
    }

    .navbar-light .navbar-nav {
        border-top: 1px solid #EEEEEE;
    }
}

.navbar-light .navbar-brand,
.navbar-light a.btn {
    height: 75px;
}

.navbar-light .navbar-nav .nav-link {
    color: var(--dark);
    font-weight: 500;
}

.navbar-light.sticky-top {
    top: -100px;
    transition: .5s;
}

@media (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: block;
        top: 100%;
        margin-top: 0;
        transform: rotateX(-75deg);
        transform-origin: 0% 0%;
        opacity: 0;
        visibility: hidden;
        transition: .5s;
        
    }

    .navbar .nav-item:hover .dropdown-menu {
        transform: rotateX(0deg);
        visibility: visible;
        transition: .5s;
        opacity: 1;
    }
}


/*** Header ***/
.header-carousel .container,
.page-header .container {
    position: relative;
    padding: 45px 0 45px 35px;
    border-left: 15px solid var(--primary);
}

.header-carousel .container::before,
.header-carousel .container::after,
.page-header .container::before,
.page-header .container::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100px;
    height: 15px;
    background: var(--primary);
}

.header-carousel .container::after,
.page-header .container::after {
    top: 100%;
    margin-top: -15px;
}
.meow {
    width: 100%; 
    max-width: 100%;
}
.keke {
    padding: 10px 15px;
}
@media (max-width: 768px) {
    .header-carousel .owl-carousel-item {
        position: relative;
        min-height: 500px;
    }
    #footers {
        display: none;
    }
    .header-carousel .owl-carousel-item img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .header-carousel .owl-carousel-item p {
        font-size: 14px !important;
        font-weight: 400 !important;
    }

    .header-carousel .owl-carousel-item h1 {
        font-size: 30px;
        font-weight: 600;
    }
}

.header-carousel .owl-nav {
    position: absolute;
    top: 50%;
    right: 8%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
}

.header-carousel .owl-nav .owl-prev,
.header-carousel .owl-nav .owl-next {
    margin: 7px 0;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    background: transparent;
    border: 1px solid #FFFFFF;
    border-radius: 2px;
    font-size: 22px;
    transition: .5s;
}

.header-carousel .owl-nav .owl-prev:hover,
.header-carousel .owl-nav .owl-next:hover {
    background: var(--primary);
    border-color: var(--primary);
}

.page-header {
    background: linear-gradient(rgba(43, 57, 64, .5), rgba(43, 57, 64, .5)), url(../img/baksu.jpeg) center center no-repeat;
    background-size: cover;
}

.breadcrumb-item + .breadcrumb-item::before {
    color: var(--light);
}

.btn {
    border-radius: 15px;
}
/*** About ***/
.about-bg {
    background-image: -webkit-repeating-radial-gradient(center center, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 1px, transparent 1px, transparent 100%);
    background-image: -moz-repeating-radial-gradient(center center, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 1px, transparent 1px, transparent 100%);
    background-image: -ms-repeating-radial-gradient(center center, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 1px, transparent 1px, transparent 100%);
    background-image: -o-repeating-radial-gradient(center center, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 1px, transparent 1px, transparent 100%);
    background-image: repeating-radial-gradient(center center, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 1px, transparent 1px, transparent 100%);
    background-size: 5px 5px;
}


/*** Category ***/
.cat-item {
    display: block;
    box-shadow: 0 0 45px rgba(0, 0, 0, .08);
    border: 1px solid transparent;
    transition: .5s;
}

.cat-item:hover {
    border-color: rgba(0, 0, 0, .08);
    box-shadow: none;
}


/*** Job Listing ***/
.nav-pills .nav-item .active {
    border-bottom: 2px solid var(--primary);
}

.job-item {
    border: 1px solid transparent;
    border-radius: 25px;
    background-color: rgb(250, 250, 250);
    transition: .5s;
}
.job-item img {
    border-radius: 20px;
}
.job-item:hover {
    border-color: rgba(0, 0, 0, .08);
    box-shadow: none;
}
.myau {
    background-image: url(https://i.pinimg.com/originals/99/a3/bb/99a3bbcf1118ef1576b437f3e433e311.png);
    background-size: cover;
    background-position: center;
    border-radius: 20px;
}

/*** Testimonial ***/
.testimonial-carousel .owl-item .testimonial-item,
.testimonial-carousel .owl-item.center .testimonial-item * {
    transition: 2s;
}


.testimonial-carousel .owl-dots {
    margin-top: 24px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.testimonial-carousel .owl-dot {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    width: 15px;
    height: 15px;
    border: 5px solid var(--primary);
    border-radius: 2px;
    transition: .5s;
}

.testimonial-carousel .owl-dot.active {
    background: var(--dark);
    border-color: var(--primary);
}


/*** Footer ***/
.footer .btn.btn-social {
    margin-right: 5px;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light);
    border: 1px solid rgba(255,255,255,0.5);
    border-radius: 2px;
    transition: .3s;
}

.footer .btn.btn-social:hover {
    color: var(--primary);
    border-color: var(--light);
}

.footer .btn.btn-link {
    display: block;
    margin-bottom: 5px;
    padding: 0;
    text-align: left;
    font-size: 15px;
    font-weight: normal;
    text-transform: capitalize;
    transition: .3s;
}

.footer .btn.btn-link::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
}

.footer .btn.btn-link:hover {
    letter-spacing: 1px;
    box-shadow: none;
}

.footer .form-control {
    border-color: rgba(255,255,255,0.5);
}

.footer .copyright {
    padding: 25px 0;
    font-size: 15px;
    border-top: 1px solid rgba(256, 256, 256, .1);
}

.footer .copyright a {
    color: var(--light);
}

.footer .footer-menu a {
    margin-right: 15px;
    padding-right: 15px;
    border-right: 1px solid rgba(255, 255, 255, .1);
}

.footer .footer-menu a:last-child {
    margin-right: 0;
    padding-right: 0;
    border-right: none;
    
}

.characteristics {
    display: flex;
    justify-content: space-between;
}
.cards {
    background-color: rgba(58, 117, 255, 1);
    width: 30%;
    margin: 20px 0;
    border-radius: 7px;
    text-align: center;
    opacity: 0.9;
}
.pink {
    background-color: rgb(255, 146, 162);
}
.grey {
    background-color: rgb(37, 43, 55);
}
.blue { 
    background-color: rgba(1, 48, 141,1);
}
.testimonial-item {
    color: white ;
    border-radius: 20px;
}

.cost {
    display: flex;
    justify-content: space-between;
    
}
.cost small { 
    opacity: 0.5;
}
.cost p {
    margin: 0;
}
.wuw {
    display: flex;
    flex-wrap: wrap;
}

.hidden {
    display: none;
}
.hiddens {
    display: none;
}
.signin {
    position: fixed;
    top: 0;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    background: linear-gradient( rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55));
    /* padding: 25px; */
}
.signin-close {
    color: white;
    cursor: pointer;
    position: absolute;
}
.sign-in {
    position: fixed;
    width: 50%;
    background-color: rgb(118, 81, 255);
    height: max-content;
    padding: 0 60px 15px 60px;
    top: 20%;
    left: 25%;
    right: 0;
    z-index: 0;
}
.sigh {
    background-color: white;
    width: 100%;
    height: 90%;
    margin-top: 30px;
    display: block;
    border-radius: 20px;
    text-align: center;
    padding-top: 20px;
    box-shadow: 0 10px 5px 0#482b8b;
}
.owl-carousel {
    z-index: 0;
}
.sign-input {
    width: 80%;
    height: 25px;
    background-color: white;
    border: none;
    padding: 10px 0;
    margin: 5px 0;
}
.sign-input input {
    width: 100%;
}
.sign-list {
    background-color: white;
    border: none;
}
.sign-button{
    height: 60px;
    margin: 20px 0;
}
.sign-button:hover {
    box-shadow: 0 0 20px 0 rgb(142, 142, 142);
}
.line {
    height: 1px;
    width: 80%;
    background-color: black;
    margin: 1px auto;
}
.lal {
    display: inline;
}
.icons {
    margin: 0 auto;
    justify-content: center;
}
.icons img {
    width: 70px;
    margin: 0 5px;
}
.some-text {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 22px;
}
.some-text * {
    width: 20%;
    margin: 0;
}
.some-text .line {
    margin-top: 15px;
    width: 30%
}
.signin-text {
    text-align: left;
    width: 80%;
    margin: 10px auto;
}
.emploin input {
    height: 30px;
    margin-top: 10px;
    margin-bottom: 1px;
}